table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
}
#adv_bbs {
	border-collapse: separate;
}

#adv_bbs th {
	height: 50px;
	background-color: #92cfbf;
}

#adv_bbs td {
	padding-left: 5px;
}

.hide {
	display: none;
}

.show {
	display: table-row;
	height: 80px;
	font-size: 16px;
	background-color: #FFF;
}

.title td {
	cursor: pointer;
	height: 40px;
	font-size: 16px;
	background-color: #FFC;
}
.adv_title td{
	height: 40px;
	font-size: 16px;
	background-color: #FFC;
}
.radio {
	width: 12px;
	height: 12px;
}
.sandwich{
	font-size: 20px;
	font-weight: bold;
}
.pagination-wrap {
 width: 400px; 
 margin:auto;
 text-align:center;
}
.pagination-v4 > li{
	float: left;
	list-style: none;
}
.pagination-v4 > li > a, 
.pagination-v4 > li > span {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  color: #fff;
  float: left;
  font-size: 14px;
  line-height: 1.42857;
  margin-right: 5px;
  padding: 8px 15px;
  position: relative;
  text-decoration: none;
}
.pagination-v4 > li > a.active,
.pagination-v4 > li > a:hover,
.pagination-v4 > li > span:hover,
.pagination-v4 > li > a:focus,
.pagination-v4 > li > span:focus {
  background-color: #677c8f !important;
  border-color: #2c3e50;
  color: #6a99cb;
  cursor: pointer;
}
.pagination-v4 > li.disable{
  background-color: #dedede;
  border: 1px solid #dedede;
  border-radius: 4px;
  color: #fff;
  
  float: left;
  font-size: 14px;
  line-height: 1.42857;
  margin-right: 5px;
  padding: 8px 15px;
  position: relative;
  text-decoration: none;
}