
.paging {
    list-style:none;
}

.paging li {
    float:left;
    margin-right:8px;
}

.paging li a {
    display:block;
    padding:3px 7px;
    border:1px solid #00B3DC;
    color:#2f313e;
    font-weight:bold;
}

.paging li a:hover {
    background:#00B3DC;
    color:white;
    font-weight:bold;
}

.disable {
    padding:3px 7px;
    border:1px solid silver;
    color:silver;
}

.now {
   padding:3px 7px;
    border:1px solid #ff4aa5;
    background:#ff4aa5;
    color:white;
    font-weight:bold;
}